node_modules
.next
.git
.gitignore
npm-debug.log*
pnpm-debug.log*
README.md
.env
.env*.local
.env.production
/coverage
/playwright-report
/test-results
/blob-report
/playwright/.cache
/uploads
/public/uploads
Dockerfile
.dockerignore
docker-compose.yml
*.tsbuildinfo
.vscode
.idea
